<section class="mainbar" data-ng-controller="orders as vm">
    <section class="matter">
        <div class="container-fuild">
            <div class="row-fluid">
                <div class="form-search">
                    <input class="input-xlarge search-query"
                           data-ng-model="vm.orderSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="live search..." />
                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i><span>Refresh</span></a>
                        <a class="btn btn-info"
                           href="#/employee/new"><i class="glyphicon glyphicon-plus"></i><span>Add Order</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"
                         subtitle="{{vm.orderFilteredCount}}/{{vm.orderCount}}"
                         right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}"></div>

                    <div class="widget-content   user">
                        <div class=" row-fluid padd  fader-animation"
                             data-ng-repeat="o in vm.filteredOrders"
                             data-ng-click="vm.gotoOrder(o)">
                            <div class="user">
                                 <div class="user-details" title="Go to employee details">
                                    <h3>{{o.orderID}}</h3>
                                    <small class="right hidden-phone">{{o.orderDate | date:'fullDate'}} <i class="glyphicon glyphicon-calendar"></i></small>
                                    <small class="right hidden-phone">{{o.requiredDate | date:'fullDate'}} <i class="glyphicon glyphicon-download"></i></small><br />
                                    <small class="right hidden-phone">{{o.shippedDate | date:'fullDate'}} <i class="glyphicon glyphicon-plane"></i></small><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                        <pagination baundary-link="true"
                                    on-select-page="vm.pageChanged(page)"
                                    total-items="vm.orderFilteredCount"
                                    page="vm.paging.currentPage"
                                    items-per-page="vm.paging.pageSize"
                                    max-size="vm.paging.maxPagesToShow"
                                    class="pagination-sm"
                                    previous-text="Prev"
                                    next-text="Next"
                                    first-text="First"
                                    last-text="Last"></pagination>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
