<html ng-app="AngularApp">
@{
    ViewBag.Title = "Employee";
}

<head title="">
    <style type="text/css">
        #tblContainer, #tblcollections, #tblCRUD, td {
            border: double;
        }

        th {
            background-color: darkgray;
        }

        #dvcollection {
            height: 500px;
            overflow-y: scroll;
        }
    </style>


</head>
<h2>Using Angular for Performing CRUD Operations</h2>
<body>
    <table id="tblContainer" ng-controller="employeeController">
        <tr>
            <td>
            <table>
                <tr>
                   
            <td>
                <table id="tblCRUD">
                    <tr>
                        <td>
                            <span>EmpNo</span>
                        </td>
                        <td>
                            <input type="text" id="eno" readonly="readonly" ng-model="EmployeeID" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>EmpName</span>
                        </td>
                        <td>
                            <input type="text" id="ename" required ng-model="LastName" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Salary</span>
                        </td>
                        <td>
                            <input type="text" id="salary" required ng-model="FirstName" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Title</span>
                        </td>
                        <td>
                            <input type="text" id="dname" required ng-model="Title" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Title Of Courtesy</span>
                        </td>
                        <td>
                            <input type="text" id="dname" name="input" required ng-model="TitleOfCourtesy" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>BirthDate</span>
                        </td>
                        <td>
                            <input type="date" id="BirthDateInput" name="input" ng-model="BirthDate"
                                   placeholder="dd-MM-yyyy" class="form-control" />
                            <span class="error" ng-show="input.$error.required">
                                Required!
                            </span>
                            <span class="error" ng-show="input.$error.date">
                                Not a valid date!
                            </span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>HireDate</span>
                        </td>
                        <td>
                            <input type="date" id="HireDate" name="input" ng-model="HireDate"
                                   placeholder="dd-MM-yyyy" class="form-control" />
                            <span class="error" ng-show="myForm.input.$error.required">
                                Required!
                            </span>
                            <span class="error" ng-show="myForm.input.$error.date">
                                Not a valid date!
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Address</span>
                        </td>
                        <td>
                            <input type="text" id="desig" required ng-model="Address" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>City</span>
                        </td>
                        <td>
                            <input type="text" id="desig" required ng-model="City" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Region</span>
                        </td>
                        <td>
                            <input type="text" id="desig" required ng-model="Region" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Postal</span>
                        </td>
                        <td>
                            <input type="text" id="desig" required ng-model="PostalCode" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Country</span>
                        </td>
                        <td>
                            <input type="text" id="desig" required ng-model="Country" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>HomePhone</span>
                        </td>
                        <td>
                           
                            <input type="text" id="desig" required ng-model="HomePhone" ng-bind="HomePhone | tel" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Extension</span>
                        </td>
                        <td>
                            <input type="text" id="desig" required ng-model="Extension" class="form-control" />
                        </td>
                    </tr>
                    </table>
                </td>
                    <td>
                        <table>
                    <tr>
                        <td>
                            <span>Photo</span>
                        </td>
                        <td>
                            <div >
                                <form> 
                                    <input type="file" id="file" ng-file-select="onFileSelect($files)">
                                    <!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->

                                </form>
                                <b>Preview:</b><br />
                                <i ng-hide="Photo">No image choosed</i>
                                <img id="imagePreview" ng-src="data:image/bmp;base64,{{Photo}}"  /><br />
                                <b>Progress:</b>
                                <progress value="{{progress}}"></progress>
                            </div>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Notes</span>
                        </td>
                        <td>
                            <textarea id="Notes" ng-model="Notes" rows='7' class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Reports To</span>
                        </td>
                        <td>
                            <select ng-model="ReportsTo" ng-options="employee.EmployeeID as employee.FirstName for employee in Employees" class="dropdown form-control" required>
                                <option value="">-- choose Manager --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>PhotoPath</span>
                        </td>
                        <td>
                            <input type="text" id="desig" required ng-model="PhotoPath" class="form-control" class="form-control" />
                        </td>
                    </tr>
                            </table>
                        </td>
                    <tr>
                        <td>
                            <input type="button" id="new" value="New" ng-click="clear()" ng-disabled="btnNewDisable" />
                        </td>
                        <td>
                            <input type="button" id="save" value="Save" ng-click="save()"  />
                        </td>
                        <td>
                            <input type="button" id="delete" value="Delete" ng-click="delete()" ng-disabled="btndeletedisable" / >
                        </td>
                    </tr>
                </table>
                <div>{{Message}}</div>
            </td>
            <td>
                <div id="dvcollection">
                    <table id="tblcollections">
                        <thead>
                            <tr>
                                <th>FirtsName</th>
                                <th>LastName</th>
                                <th>Reports To</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="Emp in Employees">
                            <tr ng-click="get(Emp)">
                                <td> <span>{{Emp.FirstName}}</span></td>
                                <td> <span>{{Emp.LastName}}</span></td>
                                <td> <span>{{Emp.ReportsToEmployee}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>






